/* body {
    grid-template-areas: 
    'header header header header header header header header heade header header'
    'sidebar sidebar main main main main main main main main'
    'sidebar sidebar main main main main main main main main'
    'sidebar sidebar main main main main main main main main'
    'sidebar sidebar main main main main main main main main'
    'sidebar sidebar main main main main main main main main'
    'sidebar sidebar main main main main main main main main'
    'footer footer footer footer footer footer footer footer footer footer'
    'footer footer footer footer footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: yellowgreen;
    padding: 10px;
}

header {
    grid-area: header;
    border: 3px black solid;
}
*/
/*
.sidebar {
    grid-area: sidebar;
    border: 3px red solid;
    width: 100%;
    height: 100px; 
}

main {
    grid-area: main;
    border: 3px rgb(216, 198, 198) solid;
    width: 100%;
    height: 100%; 
    border: 3px rgb(0, 255, 234) solid;
    margin-left: 10px;

}

footer {
    grid-area: footerbar;
    border: 3px rgb(179, 255, 0) solid;
    width: 100%;
    height: 100%; 
}
*/
/*
body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5% 95% 0%; 
  /* text-align: justify; //

} */
/*
.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: -1;
    background: yellow;
    overflow: scroll !important;
} */

.title-logo {
    background: yellow;
    border-radius: 50%;
}

main {
    grid-row-start: 2;
    grid-row-end: -1;

}

.fas {
    padding: 2px;
}

.fa-book {
    color: rgb(255, 0, 212);
}

.fa-file-alt {
    color: green;
}

.file-align {
    margin-top: 1px;
    margin-left: 1px;
}
footer {
    grid-row-start: -1;
    grid-column-end: -1;
    grid-column-start: 1;
    margin: 1em;
}
 .align-all {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    display: grid;
    grid-template-columns: 33% 32% 31%;
    grid-row-start: 2;
    grid-gap: 2em;
}

/* Navbar editing  */

body {margin:0;font-family:Arial}
            
.topnav {
  overflow: hidden;
  background-color: #333;
}

header {
    grid-column-start: 1; 
  grid-column-end: 3;
  height: fit-content;
}

#myTopnav {
    display: flex;
    justify-content: space-around;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Tutorial images */
 .fig-img2 {
    width: 90%;
    height: 90%;
    z-index: 5;
    padding: 25px;
    box-shadow:0px 0px 12px 1px rgba(87, 87, 87, 0.2);
}

 /* .codeBlock {
    width: 100px;
    height: 170px;
    z-index: 5;
    padding: 25px;
    box-shadow:0px 0px 12px 1px rgba(87, 87, 87, 0.2); 
} */

code {
    display: inline-block;
    width: 90%;
    
    border: solid chocolate;
    border-radius: 1.5%;
    text-align: left;
}

.fig-img {
    padding: 25px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.topic-link {
  text-decoration: none;
}

