.toolset {
    display: grid;
   grid-template-columns: 33% 33% 33%;
 /*  padding: 1px; */

   grid-column-gap: 15px;
   grid-row-gap: 15px;
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
}

/* footer {
    
    margin-top: 20em;
    height: 100px;
} */

footer {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    margin-top: 20em;
}
.foot-items {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-start: 2;
}

#sitemap {
    grid-column-start: 2;
}

#projects {
    grid-column-start: 3;
}

#publish {
    grid-column-start: 4;
}

.toolpic {
    width: 250px;
    height: 250px;
}

.alltools {
    border: 3px black solid;
    border-radius: 10%;
}

#tools-align {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 60% 20%;
}

